@tailwind base;
@tailwind components;
@tailwind utilities;

.wholepage {
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  overflow-x: hidden;
}

.header {
  height: 7.8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 2vh;
  padding-right: 2vh;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.headerContents {
  display: flex;
  align-items: center;
  gap: 50px;
  font-family: sans-serif;
  font-size: 0.9vw;
  cursor: pointer;
}
.authOptions {
  display: flex;
  gap: 30px;
  align-items: center;
}
.login {
  color: black;
  font-size: 18px;
}
.login:hover {
  color: black;
}
#signup {
  font-size: 18px;
  border-radius: 20px;
  width: 150px;
  background-color: rgb(168 85 247);
  color: white;
  display: flex;
  justify-content: center;
  height: 39px;
  align-items: center;
  cursor: pointer;
}
.headerr {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding-left: 10vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  justify-content: space-between;
}
.headerr > div {
  font-size: 2vw;
}
.searchbar {
  padding-right: 5vh;
}
.searchbar > svg {
  cursor: pointer;
}
.showcase {
  height: 60%;
}
.awt {
  height: 20%;
  display: flex;
  align-items: end;
  padding-left: 10vh;
  font-weight: bold;
  font-size: 20px;
}
.simg {
  width: 27vw;
  height: auto;
}
.simgo {
  position: relative;
}
.btfulls::before {
  position: relative;
}

@keyframes fadein {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(
      255,
      255,
      255,
      0.8
    ); /* Adjust the alpha value (0.8) for transparency */
  }
}
.showcases {
  padding-left: 10vh;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 6vh;
}

.textdown {
  padding-top: 2vh;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 0.9;
}
.headerofoverlay {
  position: relative;
}
.overlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 90;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.5s;
}
.simg {
  position: relative;
}

.btfulls {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  height: 88%;
  width: 100%;

  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.btfulls a {
}
/* BUTTONS */

.btfulls > a > button {
  border-radius: 50px;
  width: 5vw;
  height: 5vh;
  z-index: 101;
  font-size: 0.8vw;
  color: white;
}

#aas1 {
  background-color: rgb(168 85 247);
}
#aas {
  background-color: white;
  border: rgb(168 85 247) 1px solid;
  color: rgb(168 85 247);
  transition: all 0.5s;
}
#aas:hover {
  background-color: rgb(168 85 247);
  border: rgb(168 85 247) 1px solid;
  color: white;
}

/*BUTTONS END */
.simgo:hover .overlay {
  opacity: 1;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
}
.simgo:hover .btfulls {
  opacity: 1;
  z-index: 100;
}
.accmenu {
  position: absolute;
  left: 40%;
  top: 5%;
  height: 50px;
  width: 20vh;
  background-color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.accmenu1 {
  display: flex;
  gap: 10px;
}

.B1 {
  width: 300px;
}

.email {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -5%;
  opacity: 0.8;
}
.bb1 > svg {
  position: absolute;
  left: 85%;
}
.B1 > div {
  position: relative;
  height: 5vh;
  width: 225px;
  background: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.B1 > div::before {
  content: "";
  position: absolute;
  height: 90%;
  width: 15%;
  margin-left: 2px;
  background-color: white;
  background: white url("./assets/person_FILL1_wght400_GRAD0_opsz24.svg") center
    center no-repeat;
  background-size: contain; /* or contain, depending on your preference */
  padding: 0px;
  border-radius: 3px;
}

.bt1 {
  background-color: rgb(168 85 247);
  border: black 1px solid;
}
.dropdown {
  position: absolute;
  height: 0px;
  width: 225px;
  border-radius: 15px;
  top: 90;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border: white 1px solid;
  color: white;
  background-color: white;
  transition: all 0.5s;
}
.dropdown > svg {
}
.dropdown > div {
  opacity: 1;
  height: 100%;
  width: 100%;
  display: flex;

  gap: 10px;
  align-items: center;
  padding-left: 10px;
  cursor: pointer;
}

.open {
  height: 100px;
  border: rgba(128, 128, 128, 0.2) 1px solid;
  color: grey;
}
.accountcenter {
  background-color: white;
  height: 50px;
  display: flex;
  align-items: center;

  padding-right: 10px;

  gap: 20px;
}
.svgdown {
  cursor: pointer;
}
.emailname {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 5px;
  align-items: center;
  padding-left: 10px;
}

.emailtext {
  color: black;
}
.input-elevated {
  font-size: 16px;
  line-height: 1.5;
  border: none;
  background: #ffffff;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23838D99' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-size: 20px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  width: 30vw;
  padding: 0.5em 1em 0.5em 2.5em;
}

.input-elevated::placeholder {
  color: #838d99;
}

.input-elevated:focus {
  outline: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}
.awd {
  border: #838d99 1px solid;
}
@media only screen and (max-width: 767px) {
  .searchbar {
    opacity: 0;
    position: absolute;
    visibility: hidden;
  }
  .headerr > div {
    font-size: 20px;

  }
  .headerr{

padding-left: 0px;
height: 15vh;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
  }
  .awt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    padding-left: 0px;
  }
  .showcases {
    padding: 30px;
    padding-top: 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 6vh;
  }
  .simg{
    width: 100vw;
height: 50%;
  }
  .textdown{
    font-size: 15px;
    opacity: 0.8;
  }
  .btfulls > a > button {
    border-radius: 50px;
    width: 20vw;
    height: 5vh;
    z-index: 101;
    font-size: 15px;
    color: white;
  }
}
