@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  width: 0;
}
.headerLanding {
  height: 100%;
  width: 100%;
  background: white;
  display: flex;


}
/*<img src={logo} />
              <div>Log In</div>
              <div>Sign Up</div>*/
.headerContentsL {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: black;
}
.pad{
  width: 90%;
  height: 98%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 100px;
  padding-left: 20px;
  font-size: 18px;
  
}
#templatebutton{
  height: 100%;
  width: 10%;
  display: flex;
  background: white;

  justify-content: center;
  align-items: center;
  font-size: 17px;
  transition: background 0.3s ease;
}

